<!DOCTYPE html>
<html>

<head>
    <title>Slam$Jobs</title>
    <link rel="stylesheet" href="/css/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/scripts/main.js"></script>
    <meta charset="UTF-8">
    <meta name="description" content="Slam$Jobs is a Web Application project which allows users (such as companies and freelancers) to post their job offers.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <img src="logo.png" style="position:relative; left:13%; top:20px; margin-top:10px;" >
    <form>
    <button type="submit" style="position:relative; top:50px; margin-top:10px; width:250px;" method="post" formaction="/newoffer">New offer</button></form>
    {{{body}}}
</body>

</html>