<header>
    <!--Logo with introduction-->
    <!--<h1> Slam jobs - getting codes for a needy slobs </h1> -->
    <br />
    <br />
    <br />
</header>
<main>
    <aside>
        <!--Login/register panel on the right side of the page-->
        {{#if invalidlogin}}
            <p id="error">Invalid login and/or password!</p>
        {{/if}}
        {{#if userActuallyExists}}
            <p id="error">User actually exists in database!</p>
        {{/if}}
        {{#if userIsNotActivated}}
            <p id="error">User is not activated!</p>
        {{/if}}
        {{#if successfulRegistration}}
            <p id="success">Registration completed successfully! Open your mailbox and activate your account!</p>
        {{/if}}
        {{#if successfulActivation}}
            <p id="success">Account activated. Login using mail and password</p>
        {{/if}}
        {{#if accountDeleted}}
            <p id="success">Account deleted!</p>
        {{/if}}
        {{#if accountEdited}}
            <p id="success">Information updated!</p>
        {{/if}}
        {{#if sendForgottenToken}}
            <p id="success">Check email for further instructions</p>
        {{/if}}
        {{#if emailNonExistant}}
            <p id="error">Email doesn't exists in database</p>
        {{/if}}
        {{#each errors}}
            <p id="error">{{this.msg}}</p>
        {{/each}}
        {{#if user}}
        <p id="userEmail">{{user.email}}</p>
        <a href="/logout"><button id="logout" />Logout</button></a>
        <img src="https://img.icons8.com/material/96/000000/expand-arrow.png" id="viewAccountInfo">
        <div id="accountInfo">
            <label>First name: <p class="userInfoDetail">{{user.firstName}}</p></label>
            <label>Last name: <p class="userInfoDetail">{{user.lastName}}</p></label>
            {{#if user.companyName}}
            <label>Company name:<p class="userInfoDetail">{{user.companyName}}</p></label>
            <label>Company location<p class="userInfoDetail">{{user.companyLocation}}</p></label>
            {{/if}}
            <label>E-mail: <p class="userInfoDetail">{{user.email}}</p></label>
            <p id="deleteAccount">Delete account...</p>
            <p id="edit">Edit account...</p>
        </div>
        {{else}}
        <form id="loginForm" action="/login" method="POST">
            <input class="form loginFormFields" type="text" name="username" placeholder="E-mail" />
            <input id="password" class="form loginFormFields formObjects" type="password" name="password" placeholder="Password" />
        </form>
        <p id="forgot">Forgot password...</p>
        <div id="login">
            <button id="signInButton" type="submit" form="loginForm">Sign in</button>
            <button id="registerButton">Register</button>
        </div>
        <div id="register">
            <button id="asUserButton">As user</button>
            <button id="asCompanyButton">As company</button>
            <form id="registerForm" action="/register" method="POST">
                <input class="form leftSideForm formObjects" type="text" name="firstName" placeholder="First name" />
                <input class="form rightSideForm formObjects" type="text" name="lastName" placeholder="Last name" />
                <input class="form leftSideForm formObjects companyFields" type="text" name="companyName" placeholder="Company name" />
                <input class="form rightSideForm formObjects companyFields" type="text" name="companyLocation"
                    placeholder="Company location" />
                <input class="form leftSideForm formObjects" type="text" name="email" placeholder="E-mail" />
                <input class="form rightSideForm formObjects" type="text" name="confirmEmail" placeholder="Confirm e-mail" />
                <input class="form leftSideForm formObjects" type="password" name="passwrd" placeholder="Password" />
                <input class="form rightSideForm formObjects" type="password" name="confirmPassword" placeholder="Confirm password" />
                <button id="confirm" class="formObjects" type="submit">Confirm</button>
                <button id="cancelRegister" class="formObjects" type="button">Cancel</button>
            </form>
        </div>
        {{/if}}
    </aside>
    <nav>
        <!--Search panel on the left side of the page-->
        <input id="offerName" class="navContent" type="search" name="offerName" placeholder="Keyword..." />
        <input id="location" class="navContent" type="search" name="location" placeholder="Location..." />
        <div id="category">
            <button id="workOrders" class="navContentButton">Work orders</button>
            <button id="jobOffers" class="navContentButton">Job offers</button>
        </div>
    </nav>
    <section>
        <!--Offers display panel in the middle of the page-->
        {{#if offerSuccessfullyAccepted}}
            <p id="success">Offer successfully accepted!</p>
        {{/if}}
        {{#if offerAlreadyAccepted}}
            <p id="error">Offer already accepted!</p>
        {{/if}}
        {{#if successfulRegistration}}
            <p id="success">Registration completed successfully! Open your mailbox and activate your account!</p>
        {{/if}}
        {{#if offer}}
            <h1>{{offer.offerCategory}}</h1><br>
            <b>{{offer.companyName}}</b><br>
            <b>Location:</b> {{offer.location}}<br>
            <b>Salary:</b> {{offer.minSalary}}-{{offer.maxSalary}} PLN/month<br>
            <b>Description:</b> {{offer.description}}<br>
            <b>Language:</b> {{offer.language}}<br>
            <b>Technology:</b> {{offer.technology}}<br>
            <b>Added: </b> {{offer.date}}<br>
            <b>Contact: </b> <a href="mailto:{{offer.userEmail}}">{{offer.userEmail}}</a><br><br>
            {{#if user}}
                <a href="accept/{{user._id}}/{{offer._id}}">Accept this offer!</a>
            {{/if}}
            <a href="../">Go back</a>
        {{/if}}
        {{#if acceptedOffers}}
            <h1>Accepted offers</h1><br>
            <ul>
                {{#each acceptedOffers}}
                    <li><a href="offer/{{this._id}}">{{this.offerCategory}} @ {{this.companyName}}</a></li>
                {{/each}}
            </ul>
        {{/if}}
        <script type="text/javascript">
            var pathName = window.location.pathname;
            var pathSplitted = pathName.split("/");
            if (pathName == "") getOffers();
            if(pathSplitted[1] == "reset") {
                generateResetPassword();
            } else if(pathSplitted[1] == "delete") {
                generateConfirmationPanel();
            }
        </script>
    </section>
</main>
<footer>
    <!--"About us" and Contact information ""-->
    <br />
    <br />
    <br />
</footer>