/*TODO mediaquery for whole layout*/

header {
    text-align: center;
}

main {
    background-color: #EBEBEB;
}

aside {
    position: sticky;
    background-color: transparent;
    border-radius: 25px;
    padding: 1% 1% 1% 1%;
    top: 0;
    width: 20%;
    float: right;
    z-index: 2;
    border-style: solid;
    border-width: 1px;
    border-color:#C4C4C4;
}

nav {
    display: block;
    text-align: center;
    background-color: transparent;
    border-radius: 22px;
    padding: 1% 1% 1% 1%;
    width: 20%;
    z-index: 2;
    float: left;
    position: sticky;
    top: 0;
    border-style: solid;
    border-width: 1px;
    border-color: #C4C4C4;
}

section {
    height: 2000px;
    width: 50%;
    z-index: 1;
    margin: auto;
    font-family: arial;
    color: #8F8F8F;
}

section a {
    color: #8F8F8F;
    text-decoration: none;
}

section.goback {
    text-decoration: underline;
}

footer {
    background-color: #DEDEDE;
}

button {
    background-color: transparent;
    border-style: solid; 
    border-radius: 5px;
    border-width: 1px;
    border-color: #C4C4C4;
    width: 48%;
    height: 2em;
    color: #8F8F8F;
    font-weight: bold;
}

h1{
    display: inline;
    opacity: 0.9;
}

.navContent {
    margin: 0 0.1% 0 0.1%;
    color: #8F8F8F;
    font-weight: bold;
    border-radius: 5px;
    border-width: 0;
}
.navContentButton {
    color: #8F8F8F;
    font-weight: bold;
}

.inputFields {
    margin-top: 2%;
}

.form {
    width: 46%;
    border-radius: 5px;
    border-width: 0;
}

.leftSideForm {
    float: left;
    margin-left: 2%;
}

.rightSideForm {
    float: right;
    margin-right: 2%; 
}

.loginFormFields {
    width: 100%;
    display: block;
}

.formObjects {
    margin-top: 3%;
}

.userInfoDetail {
    text-align: center;
    color: #8F8F8F;
}

.divTable{
	display: table;
	width: 100%;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}

#user {
    border-radius: 50%;
    width: 25%;
    height: 25%;
    float: left;
    margin-left: 3%;
}

#register {
    display: none;
    margin-top: 2%;
    text-align: center;
}

#login {
    margin-top: 15%;
    text-align: center;
}

#registerForm {
    display: none;
    text-align: center;
}

#offerName {
    width: 95%;
}

#location {
    width: 95%;
    margin-top: 0.5em;
}

#category {
    margin: 0.5em 0 0 0;
}

#viewAccountInfo {
    width: 10%;
    float: right;
    transform-origin: top left; /* IE 10+, Firefox, etc. */
    -webkit-transform-origin: top left; /* Chrome */
    -ms-transform-origin: top left; /* IE 9 */
}

#viewAccountInfo.rotate90 {
    transform: rotate(90deg) translateY(-100%);
    -webkit-transform: rotate(90deg) translateY(-100%);
    -ms-transform: rotate(90deg) translateY(-100%);
}

#viewAccountInfo.rotate180 {
    transform: rotate(180deg) translate(-100%,-100%);
    -webkit-transform: rotate(180deg) translate(-100%,-100%);
    -ms-transform: rotate(180deg) translateX(-100%,-100%);
}

#viewAccountInfo.rotate270 {
    transform: rotate(270deg) translateX(-100%);
    -webkit-transform: rotate(270deg) translateX(-100%);
    -ms-transform: rotate(270deg) translateX(-100%);
}

#accountInfo {
    display: none;
    font-size: 1em;
}

#logout {
    margin-bottom: 1em;
}

#userEmail {
    text-align: center;
    color: #8F8F8F;
}

#logout {
    margin-left: 2%;
    margin-right: 1%;
    width: 55%;
}

#forgot{
    font-size: 0.8em;
    text-align: right;
    float: right;
    width: 40%;
    color: blue;
}

#forgot:hover {
    color: red;
    cursor: pointer;
}

#submitForgot {
    margin-top: 1%;
    width: 30%;
}

#submitReset {
    margin-top: 1%;
    margin-left: 2%;
    width: 15%;
}

#forgotPasswordEmail {
    display: block; 
    width: 30%;
}

#password{
    float: left;
    width: 60%;
}

#deleteAccount{
    font-size: 0.8em;
    float: left;
    color: blue;
}

#deleteAccount:hover {
    color: red;
    cursor: pointer;
}

#edit {
    font-size: 0.8em;
    float: right;
    color: blue;
}

#edit:hover {
    color: red;
    cursor: pointer;
}

#submitEdit{
    width: 90%;
    margin-top: 2.5%;
    margin-left: 5%;
} 